<p>This is contacts section</p>
<!-- <form #regForm="ngForm" (ngSubmit)="onSubmit(regForm)">
    <div class="form-group">
        <label for="">Phone Number:</label>
        <input type="tel" minlength="0" maxlength="10" name="phn" pattern="^[0-9]+$" class="Form-control" ngModel><br>
        <span style="color: red;" *ngIf="phn.invalid && phn.touched">please enter valid phone number</span><br>
        <button [disabled]="regForm.invalid" type="submit" class="btn btn-primary">Submit</button>
    </div>

</form> -->

