<p>login works!</p>

<!-- <form>
    <div class="form-group row">
      <label for="Email" class="col-sm-2 col-form-label">Email Id</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="Email">
      </div>
    </div>
    <div class="form-group row">
      <label for="Password" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="Password">
      </div>
      <button type="Login" class="btn btn-primary">Login</button>
    </div>
  </form> -->



<!-- <div class="container">
<div class="col-md-6">
  <form #regForm="ngForm" (ngSubmit)="onSubmit(regForm)">
    <div class="form-group">
      <label for="exampleInputEmail1">Email Id</label>
      <input type="email" name="uemail" class="form-control" aria-describedby="emailHelp" formControlName="uemail">
      <span style="color: red;" *ngIf="uemail.invalid && uemail.touched">Please enter a valid email id</span>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" name="password" class="form-control" aria-describedby="passwordHelp" formControlName="upass">
      <span style="color: red;" *ngIf="upass.invalid && upass.touched">Please enter a valid password</span>
    </div>  
       
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
</div> -->


<div class="container">
<form #regForm="ngForm" (ngSubmit)="onSubmit(regForm)">
    <div class="form-group">
        <label for="exampleInputEmail1">EmailId</label>
            <input #uemail="ngModel" required minlength="0" maxlength="30" type="text" name="uemail" class="form-control" aria-describedby="emailhelp" ngModel>
            <span style="color: red;" *ngIf="uemail.invalid && uemail.touched">Enter a valid Email</span>                                
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
            <input #upass="ngModel" required minlength="6" maxlength="20" pattern="^[A-Za-z0-9-_@]+$" type="password" name="upass" class="form-control" aria-describedby="passwordhelp" ngModel>
            <span style="color: red;" *ngIf="upass.invalid && upass.touched">Enter a valid Last Name</span>                                            
        </div>
    <button type="submit" class="btn btn-primary" >Signup</button>
</form>
</div>
