<h3>Content from swathi component</h3>
<div class="container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Department</th>
                <th scope="col">Id</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let v of data">
                <td>{{v.name}}</td>
                <td>{{v.department}}</td>
                <td>{{v.id}}</td>
            </tr>
        </tbody>
    </table>
</div>