<p>This is registration section</p>

<div class="container">
    <div class="col-md-6">
        <form #regForm="ngForm" (ngSubmit)="onSubmit(regForm)">
            <div class="form-group">
                <label for="exampleInputEmail1">First Name</label>
                    <input #fname="ngModel" required minlength="6" maxlength="20" pattern="[A-Za-z]+$" type="text" name="fname" class="form-control" aria-describedby="emailhelp" ngModel>
                    <span style="color: red;" *ngIf="fname.invalid && fname.touched">Enter a valid First Name</span>                                
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Last Name</label>
                    <input #lname="ngModel" required minlength="6" maxlength="20" pattern="[A-Za-z]+$" type="text" name="lname" class="form-control" aria-describedby="emailhelp" ngModel>
                    <span style="color: red;" *ngIf="lname.invalid && lname.touched">Enter a valid Last Name</span>                                            
                </div>
                <div class="form-group">
                    <div ngModelGroup="address">
                        <input type="text" placeholder="enter the city" name="city" #city="ngModel" class="form-control" ngModel><br>
                        <input type="text" placeholder="enter the state" name="state" #state="ngModel" class="form-control" ngModel><br>
                    </div>
                </div>
            <button [disabled]="regForm.invalid" type="submit" class="btn btn-primary" >Submit</button>
        </form>
    </div>
</div>
<h3>{{regForm.value|json}}</h3>

